<% if @article.errors.any? %>
<h2>The following errors prevented the articles from being created</h2>
    <ul>
        <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
</ul>
<% end %>

<%= form_for @article do |g| %>
    <p>
        <%= g.label :title %> <br/>
        <!--the br tag moves the text field so that it is below the title>-->
        <%= g.text_field :title %>
    </p>
     <p>
        <%= g.label :description %> <br/>
        <%= g.text_area :description %>
     </p>
     <p>
         <%= g.submit %>
         <!--submit creates a button-->
     </p>
     
<% end %>

<%= link_to "Back", articles_path %>