<h1>Article</h1>

<p>
    Title: <%= @article.title %>
</p>
<p>
    Description: <%= @article.description %>
</p>

 <%= link_to "Edit", edit_article_path, :class => 'btn btn-default' %>
 <%= link_to "Back", articles_path , :class => 'btn btn-default' %>
 <p>
     <td><%= link_to "Delete", article_path, method: :delete, data: {confirm: "Are you sure?"}, :class => 'btn btn-danger' %></td>
 </p>
