<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  
  <%= render 'layouts/navigation' %>
  <%= render 'layouts/messages' %>
  <div class="container">
<div class = "container">
	<!-- this creates a container around the text so its not so close to the right -->
    <%= yield %>
    </div>
</div>
</body>
</html>
